//================================= FONTS ======================================

/* great-vibes-regular - latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'),
       url('fonts/great-vibes-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('fonts/great-vibes-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* droid-serif-regular - latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'),
       url('fonts/droid-serif-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('fonts/droid-serif-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

//================================ COLORS ======================================

$color-primary: #b19261;
$color-text-primary: #a6a6a6;
$color-black: #000;
$color-white: #fff;
$color-footer: #c2aa83;
$color-footer-border: #c2c2c2;

//=============================== MIXINS =======================================

//================== FONTS ===================//

@mixin droid-serif {
  font-family: "Droid Serif", Arial, Helvetica, sans-serif;
}
@mixin droid-sans {
  font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}
@mixin great-vibes {
  font-family: "Great Vibes", Arial, Helvetica, sans-serif;
}
@mixin color-background-dark {
  background-color: rgba(0,0,0,.75);
}
@mixin color-background-light {
  background-color: rgba(255,255,255,.6);
}

//================= BORDERS ==========================//

@mixin border-grey {
  border: 1px solid #c0c0c0;
}

//=============================== GLOBAL STYLES ================================

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body, .wrapper {
  height: 100%;
}

body {
  .wrapper {
    height: auto;
    min-height: 100%;
    margin-bottom: -13rem;
    font: 1.35em/1.5 "Droid Sans", Arial, Helvetica, sans-serif;
    color: $color-text-primary;
    background: $color-white;
  }

}

img {
  width: 100%;
  height: auto;
}

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

::selection {
  color: $color-white;
  background: $color-primary;
}

::-webkit-scrollbar{
  width: 8px;
  height: 10px;
  padding-top: 40px;
}

::-webkit-scrollbar-thumb{
  border-radius:10px;
  height: 30px;
  width: 8px;
  border: 1px solid $color-primary;
  background: $color-primary;
}

a {
  text-decoration: none;
  color: inherit;

  &:active {
    text-decoration: underline;
  }
}

.btn-read {
  position: relative;
  display: inline-block;
  border: 1px solid $color-primary;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  background-color: $color-primary;
  color: $color-white;
  transition: all 0.3s ease;

  &:hover {
    color: $color-primary;
    background-color: $color-white;
  }

}

blockquote {
  @include droid-sans;
  font-size: 1.3rem;
  line-height: 1.95rem;
  background: #f7f7f7;
  padding: 2rem;
  margin: 2rem 0;
  border-left: 5px solid $color-primary;

  cite {
    display: block;
    font-size: 1.43rem;
    line-height: 2.28rem;
    font-style: normal;
    color: $color-primary;

    &:before {
      display: block;
      content: "";
      float: left;
      margin: 1.4rem 0.7rem 0 0;
      width: 1rem;
      height: 0.1rem;
      background: $color-primary;
    }

  }

}

.tooltip {
  position: absolute;
  width: 9rem;
  height: 6rem;
  top: 0;
  left: -3px;
  opacity: 0;
  padding: 0.6rem;
  border: 1px solid $color-white;
  border-radius: 8px;
  background-color: $color-primary;
  color: $color-white;
  word-wrap: break-word;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,.4);
  transition: all 0.3s ease;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #b19261 transparent transparent transparent;
    bottom: -0.9rem;
    left: 3.2rem;
  }

}

[type="checkbox"]:hover {
  cursor: pointer;
}

.selectric .label {
  height: 3.8rem;
}

.ui-timepicker-list li {
  font-size: 13px;
}

//=================================== HEADER ===================================

.header-main-wrapper {
  position: relative;
  height: 12.6rem;
  margin: 0 auto;
  z-index: 1000;
}

.header-main {
  position: relative;
  width: 100%;
  max-width: 117rem;
  height: 5rem;
  margin: 0 auto;
  padding: 3rem 2rem 0;
  background: $color-white;
  transition: height 0.3s ease;
}

//================= LOGO ==================//

.logo {
  position: relative;
  display: block;
  height: 4.2rem;
  border-bottom: 1px solid $color-black;
  margin: 0 auto;
  font-size: 2.6rem;
  line-height: 1.6;
  text-align: center;
  z-index: 1001;

  .logo-first-word {
    color: $color-primary;
  }

  .logo-first-word:after {
    content: '';
    width: 20rem;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    margin-left: -10rem;
    border-bottom: 1px solid $color-black;
  }

  .logo-second-word {
    color: $color-black;
  }

  .stars {
    position: absolute;
    display: none;
    left: 50%;
    bottom: -4.2rem;
    margin-left: -4.4rem;
    color: $color-primary;
    font-size: 1.43rem;
    z-index: 3;

    i[class^="flaticon-"]:before {
      font-size: 1.43rem;
      margin-left: 0;
    }

    @mixin star($top, $left) {
      position: relative;
      top: $top;
      left: $left;
    }

    .star-1 {
      @include star(-1.6rem, 0.2rem);
    }
    .star-2 {
      @include star(-0.5rem, -0.1rem);
    }
    .star-4 {
      @include star(-0.4rem, 0);
    }
    .star-5 {
      @include star(-1.5rem, -0.2rem);
    }

  }

  &:before {
    position: absolute;
    top: -4rem;
    left: 50%;
    margin-left: -6rem;
    display: block;
    content: '';
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: $color-white;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &:after {
    position: absolute;
    content: "E";
    font-size: 4.68rem;
    line-height: 8rem;
    font-family: "Great Vibes", Arial, Helvetica, sans-serif;
    width: 8rem;
    height: 8rem;
    background: $color-primary;
    left: 50%;
    top: -2rem;
    margin-left: -4rem;
    color: $color-white;
    border: 2px solid $color-white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $color-primary;
    z-index: 2;
  }

  &:before, &:after, .stars {
    display: none;
  }

}

//===================== NAVIGATION =====================//

.header-main-menu {
  position: fixed;
  top: 12.6rem;
  right: -19rem;
  width: 18rem;
  background: #f7f7f7;
  border-left: 1px solid $color-primary;
  transition: all 0.6s ease;

  .current {
    border-bottom: 4px solid #b19261;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
    }

    a {
      display: block;
      padding: 0 2.2rem;
      text-align: center;
      line-height: 3.5rem;
      border-bottom: 1px solid $color-primary;
      color: $color-black;
      transition: all 0.3s ease;
    }

    a:hover {
      color: $color-primary;
    }

  }

  .sub-menu {
    border-bottom: 1px solid $color-primary;
  }

  .sub-menu li {
    background: $color-white;

    a {
      line-height: 4rem;
      border-bottom-color: #f7f7f7;
      transition: all 0.3s ease;
    }

    a:hover {
      color: $color-white;
      background: $color-primary;
    }

  }

  &.slide {
    right: 0;
    z-index: 1001;
  }

  .menu-center {
    display: none;
    width: 12rem;
  }

}

.main-menu-handle {
  position: relative;
  width: 4rem;
  height: 4rem;
  float: right;
  margin-top: 0.5rem;
  padding: 0.3rem 0.7rem;
  text-align: center;
  line-height: 3.5rem;
  border-radius: 2px;
  cursor: pointer;
  color: $color-white;
  background: $color-primary;

  @mixin handle-span($top) {
    position: absolute;
    content: "";
    width: 3rem;
    height: 0.2rem;
    left: 0.5rem;
    top: $top;
    background: $color-white;
  }

  &:after, span:before, span:after {
    transition: all 0.3s ease;
  }

  span:before {
    @include handle-span(1.4rem);
  }

  span:after {
    @include handle-span(2.6rem);
  }

  &:after {
    @include handle-span(2rem);
  }

  &.active:after {
    width: 0;
  }

  &.active {
    span:before {
      transform: rotate(-45deg);
      top: 2rem;
    }
    span:after {
      transform: rotate(45deg);
      top: 2rem;
    }
  }

}

//==================== STICKY HEADER =================//

.sticky {
  position: fixed;
  top: 0;
  height: 6rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);

  .header-main-menu {
    top: 6rem;
  }

  .main-menu-handle {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    margin-top: 1rem;
  }

  .logo {
    width: 12rem;
    border-bottom-color: transparent;
  }

  .logo-first-word, .logo-second-word {
    display: none;
  }

  .stars, .logo:before, .logo:after {
    display: block;
  }

}

.sticky-reservation {
  
  .stars, .logo:before, .logo:after {
    transform:  scale(0.7,0.7);
  }
  
  .logo:before, .logo:after {
    margin-top: -1.4rem;
  }
  
  .stars {
    bottom: -1.2rem;
  }
  
}

//================================== MAIN ======================================

main {
  max-width: 117rem;
  position: relative;
  margin: 0 auto 5rem;
  padding: 0 1.5rem 16rem;

  &.main-fluid {
    padding-top: 3rem;
    max-width: 100%;
  }

  h1 {
    position: relative;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 2.86rem;
    font-family: "Droid Serif", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 5rem;
    color: $color-black;
  }

  h1:before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid $color-black;
    bottom: 0;
    left: 0;
  }

  h1:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    background: white;
    border: 1px solid #b19261;
    box-shadow: 0 0 0 5px white;
    left: 50%;
    margin-left: -5px;
    bottom: -7px;
  }

  p {
    font-size: 1.35rem;
    text-align: justify;
  }

  // .main-section img {
  //   display: block;
  //   max-width: 40rem;
  //   margin: 0.6rem auto 0;
  // }

  //========================= BOOKING FORM ============================//

//   .booking-form {
//     margin: 4rem auto;
//
//     legend {
//       text-align: center;
//       font-size: 2.4rem;
//       font-family: "Droid Serif", Arial, Helvetica, sans-serif;
//       color: $color-black;
//     }
//
//     input, select {
//       display: block;
//       width: 100%;
//       height: 4.2rem;
//       margin: 1rem 0;
//       padding: 0 1rem;
//       background: $color-white;
//       outline: none;
//       border: 1px solid $color-footer-border;
//       border-bottom-width: 3px;
//       color: $color-black;
//       cursor: pointer;
//     }
//
//     .check-col {
//       display: inline-block;
//       width: 49%;
//
//       input {
//         background-color: $color-white;
//       }
//     }
//
//     select {
//       -webkit-appearance: none;
//       -moz-appearance: none;
//       appearance: none;
//     }
//
//     label {
//       position: relative;
//       display: block;
//       font-size: 1.4rem;
//     }
//
//     .flaticon-calendar-icons {
//       position: absolute;
//       right: 1rem;
//       bottom: -3.7rem;
//     }
//
//     .submit-button input {
//       width: 50%;
//       height: 3.7rem;
//       border: none;
//       margin: 1rem auto;
//       background: #b19261;
//       color: #fff;
//       transition: background-color 0.6s ease;
//     }
//
//   }
//
}

//=========================== makeOrder ========================
.makeOrder {
  width: 30rem;
  margin: 5rem auto 0;
  border: 1px solid $color-text-primary;
  padding: 2rem 1rem 1rem;
}

.makeOrder__heading {
  margin: 0;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #000;
  @include great-vibes;
  font-weight: normal;
  font-size: 2.4rem;
  color: #000;
  text-align: center;
}

.makeOrder__calendar {
  position: relative;

  input {
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    @include droid-serif;
    color: #000;
    font-size: 1.6rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);

    &:hover {
      cursor: pointer;
    }
  }

  i {
    position: absolute;
    right: 10%;
    top: 2.5rem;

    &:before {
      font-size: 2.2rem;
    }
  }

}

.makeOrder__btn {
  display: block;
  width: 14rem;
  border: 1px solid #7D7373;
  border-radius: 4px;
  margin: 1.5rem auto;
  padding: 0.8rem;
  background: $color-primary;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);

  &:hover {
    background: #fff;
    color: #000;
    text-shadow: none;
  }

  &:active {
    text-decoration: none;
  }

}

// ======================== end of makeOrder =======================

// ======================== filtering ===========================
  .filtering {
    position: relative;
    padding: 0.8rem;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0,0,0,.4);
    color: $color-text-primary;
    transition: all 0.3s ease;
    background: #fff;

    .selectric {
      margin-top: 0;
      margin-bottom: 0;
      border-bottom-width: 1px;
    }

  }

  .filtering-checkIn, .filtering-checkOut, .filtering-people, .filtering-hotel, .filtering-twin, .filtering-order {
    position: relative;
    display: inline-block;
    width: 49%;
    margin-bottom: 1rem;

    input {
      width: 100%;
      height: 4rem;
      padding-left: 1rem;
      color: #000;
      background: #fff;
      cursor: pointer;
    }

  }

  .filtering-checkIn .flaticon-calendar-icons, .filtering-checkOut .flaticon-calendar-icons {
    position: absolute;
    top: 2.5rem;
    right: 0.5rem;

    &:before {
      margin-left: 0;
    }

  }

  .filtering-checkIn input, .filtering-checkOut input {
    border: 1px solid $color-text-primary;
    cursor: pointer;
  }

  .filtering-twin {
    padding-right: 3rem;
    line-height: 1.3rem;

    input {
      width: auto;
      height: auto;
      float: right;
    }
  }

  .filtering-slide {
    position: fixed;
    width: 77.5%;
    top: 59px;
    z-index: 100;
  }
  
  .filtering-placeholder {
    display: none;
    width: 100%;
    height: 78px;
  }
  
// ======================== end of filtering =======================

.slider {
  display: none;
}

.slider.vegas-container {
  position: absolute;
  width: 100%;
}

.pagination-box {
  margin: 40px 0 30px;
  text-align: center;

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0 0.2rem;

      &.active {
        span {
          top: -2.5rem;
          opacity: 1;
        }
        a {
          background-color: $color-primary;
        }
      }
    }

    a {
      position: relative;
      display: block;
      width: 4rem;
      height: 0.6rem;
      background: $color-text-primary;
      transition: all 0.3s ease;

      &:hover {
        background-color: $color-primary;
      }

      span {
        position: absolute;
        top: -3.5rem;
        left: -0.1rem;
        width: 4rem;
        height: 2.4rem;
        line-height: 2.4rem;
        opacity: 0;
        color: $color-primary;
        background: $color-white;
        transition: all 0.3s ease;

        &:hover {
          top: -2.5rem;
          opacity: 1;
        }
      }

      &:hover span {
        top: -2.8rem;
        opacity: 1;
      }

    }

  }

}

.main-title {
  position: relative;

  .main-heading {
    width: 100%;
    height: 14.4rem;
    margin-top: 0;
    padding-top: 1.5rem;
    line-height: 3rem;
    font-size: 3rem;
    color: $color-white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.5);
    background: url(../img/in_bg.jpg) center top fixed no-repeat;
  }

  ul {
    position: absolute;
    top: 65%;
    left: 50%;
    list-style: none;
    margin: 0 0 0 -8.5rem;
    padding: 0;

    .flaticon-arrow {
      color: $color-primary;
      text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.8);

      &:before {
        margin-left: 1rem;
        margin-right: 0.4rem;
        font-size: 1.2rem;
      }
    }

    li {
      display: inline-block;

      &:last-child a {
        color: $color-primary;
      }

    }

    a {
      font-size: 1.4rem;
      color: $color-white;
      text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.8);
      transition: all 0.3s ease;

      &:hover {
        color: $color-primary;
      }
    }

  }

}

.contact-box {
  display: none;
  width: 32rem;
  margin: 3rem auto;
  @include border-grey;

  h2, h3, p {
    text-align: center;
    color: $color-black;
  }

}

.form-reply {

  fieldset {
    border: none;
  }

  textarea {
    width: 100%;
    height: 15rem;
    margin-top: 1rem;
    border: 1px solid #c2c2c2;
    border-bottom-width: 3px;
  }

  input[type="submit"] {
    width: 9rem;
    margin: 1rem auto;
    border: none;
    background-color: $color-primary;
    color: $color-white;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
      border: 1px solid $color-primary;
    }
  }

  &.booking-form {
    width: 100%;

    .form-col {
      padding: 0 1rem;
    }

    input {
      cursor: text;
    }

    input[type="submit"] {
      cursor: pointer;
    }

  }

}

//============================== FOOTER ========================================

.main-footer {
  position: relative;
  height: 13rem;
  padding: 2.5rem 1rem 0;
  background: $color-primary;

  .scroll-up {
    position: absolute;
    top: -2.2rem;
    left: 50%;
    margin-left: -2.25rem;
    background: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    transform: rotate(-45deg);
    cursor: pointer;
    transition: all 0.3s ease;

    &:before, &:after {
      width: 17px;
      height: 1px;
      content: "";
      position: absolute;
      left: 10px;
      top: 16px;
      background: white;
      transition: all 0.3s ease;
    }

    &:before {
      transform: rotate(0);
    }

    &:after {
      left: 1.8rem;
      top: 2.5rem;
      transform: rotate(-90deg);
    }

  }

}

.main-footer-items {
  margin: 0;
  padding: 0;
  list-style: none;
  @include droid-sans;
  font-size: 1.3rem;
  color: $color-white;

  li {
    margin-bottom: 0.6rem;
  }

  a {
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: $color-text-primary;
    }
  }
}

.social-icons {
  position: absolute;
  top: 5rem;
  right: 0.5rem;

  a {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 0.2rem;
    border: 1px solid white;
    text-align: center;
    font-size: 2rem;
    line-height: 3.5rem;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      color: $color-text-primary;
    }

    &:before {
      margin-left: 0;
    }
  }
}

//======================PAGE EKATERINA=======================

.page-hotel-ekaterina {

  .main-section {
    max-height: 83vh;
    overflow-y: scroll;
  }

}

.rooms-row {
  text-align: center;
}

.room-thumbnail {
  position: relative;
  display: inline-block;
  margin-bottom: 1.8rem;
  padding: 0 2rem;
  width: 100%;
  cursor: pointer;

  img {
    transition: all 0.3s ease;
  }

  &:hover img {
    transform: scale(1.2, 1.2);
  }

  &:hover a.detail {
    background-color: $color-white;
    color: $color-primary;
  }

  a {
    display: block;
    overflow: hidden;
  }

  a:first-child {
    max-height: 28rem;
  }

  .room-thumbnail-description {
    text-align: left;

    h3 {
      position: relative;
      margin-top: -3.3rem;
      margin-bottom: -1rem;
      padding: 0 0.5rem 0.5rem;
      @include droid-serif;
      color: black;
      font-size: 1.4em;
      font-weight: normal;
      @include color-background-light;
    }

    p {
      margin-bottom: 0;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        bottom: -1.4rem;
        border-top: 1px solid $color-footer;
      }
    }

    .detail {
      position: relative;
      float: right;
      padding: 0.3rem .5rem;
      border: 1px solid $color-primary;
      text-align: right;
      color: $color-white;
      background-color: $color-primary;
      transition: all 0.3s ease;

      &:hover {
        background-color: $color-white;
        color: $color-primary;
      }
    }

  }
  .room-thumbnail-price {
    position: absolute;
    display: none;
    top: 131px;
    left: 50%;
  }
}

//========================PAGE RESERVATION====================

.category {
  position: relative;
  margin-bottom: 4rem;
  padding: 0.5rem;
  color: $color-black;
}

.category-heading {
  border-bottom: 2px solid #000;
  text-align: right;
}

.category-gallery {
  display: none;
  max-width: 85rem;
  margin: 0 auto;
  overflow: hidden;

  ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
    max-height: 46rem;

    li {
      display: block;
      float: left;
      margin-right: 0.6rem;
      cursor: pointer;
    }

  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
    cursor: pointer;
  }

}

.category-list {
  padding: 0.8rem;
}

.cat-settings-general {
  position: absolute;
  top: 54%;
  left: 41.5%;
  width: 33%;
  border: 1px dashed #000;
  padding: 10px;
  border-radius: 12px;
}

.category-roomOptions {
  padding: 0.8rem;
  text-align: center;
}

.category-roomOptions [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 28px;
  margin-left: 0;
  margin-right: 12px;
  color: $color-text-primary;
}

.option {
  display: inline-block;
  width: 100%;
  padding: 1rem 0.5rem;
  border-bottom: 1px dotted rgba(0,0,0,.25);
}

.option-early, .option-late {
  position: relative;
}

.option-guest, .option-rooms {
  width: 100%;
}

.option-add-guest-hidden {
  display: none;
}

.option-data-select {
  position: relative;
  display: inline-block;
  width: 30%;
  top: -0.5rem;
  margin-top: -0.4rem;
  margin-bottom: -2rem;
  padding-bottom: 0.4rem;
}

.option-data-checkbox {

  input {
    width: 2.5rem;
    height: 2.5rem;
  }

}

.option-data-eci .timepicker, .option-data-lco .timepicker {
  width: 5.5rem;
  width: 9.2rem;
  height: 3.7rem;
  padding-left: 8px;
  cursor: pointer;
}

.eci, .lco, .time-no-available,
.additional-days, .additional-days {
  position: absolute;
  top: 1.8rem;
  right: 11rem;
  display: none;
  clear: both;
  float: left;
  border: 1px solid;
  border-radius: 7px;
  color: #B12121;
  padding: 3px;
  font-size: 10px;
  font-weight: bold;
}

.item-not-available {
  position: absolute;
  display: none;
  width: 10rem;
  height: 5rem;
  top: 0.6rem;
  left: -0.4rem;
  z-index: 1;
}

.option-data {
  float: right;
  width: 9.2rem;
}

.option-description {
  vertical-align: top;
  float: left;
}

// =========================TABS===================================

.category-controls, {
  position: relative;
}

.category-controls {
  width: 60%;
  float: right;
}

.tabs {
  display: none;
  margin: 0;
  padding-left: 20px;
  position: absolute;
  overflow: scroll;
  width: 100%;
  white-space: nowrap;
}

.tabs-item {
  display: inline-block;
  margin-right: 4px;
  border: 1px solid #000;
  cursor: pointer;
  
  
  &:hover {
    background: #D2BE9F;
  }
  
  span {
    display: inline-block;
    padding: 7px;
  }
  
}

.tabs-item[data-tabInit] {
  margin-right: 0;
}

.tabs-item--active {
  background: $color-primary;
  
  &:hover {
    background: $color-primary;
  }
}

.cat-settings {
  position: relative;
  top: 50px;
}

.cat-settings-item {
  width: 100%;
  position: absolute;
}

.cat-settings-item--init {
  display: none;
}

.cat-settings-item--active {
  display: block;
}

// =========================TABS END===================================

.category-result {
  clear: both;
  margin-top: 3.5rem;
  line-height: 22px;
}

.category-result-price {
  float: left;
  
  span {
    @include droid-serif;
    font-size: 1.6rem;
  }
  
}

.category-result-addToOrder {
  position: relative;
  float: right;
  padding-right: 0.5rem;

  span {
    vertical-align: top;
  }

  input {
    width: 2.5rem;
    height: 2.5rem;
  }

}

.tariffs {
  margin-top: 2rem;
  height: 4.5rem;
  border: 1px dotted #000;
  border-radius: 4px;
  overflow: hidden;
  clear: both;
  transition: all 0.3s ease;

  h2 {
    margin-top: 10px;
    margin-left: 8px;
    font-weight: normal;
    font-style: italic;
    @include great-vibes;
  }

}

.tariffs-open {
  height: auto;
  overflow: auto;
  border: none;

  h2 {
    display: none;
  }

  .tariffs-btn {
    display: none;
  }

}

.tariff {
  position: relative;
  border-bottom: 1px dashed;
  padding-bottom: 1.5rem;
  
}

.tariffs-btn {
  position: relative;
  width: 40px;
  height: 30px;
  border: 1px solid #583908;
  border-radius: 4px;
  float: right;
  margin-top: 7px;
  margin-right: 12px;
  background: #B19261;

  span {
    position: relative;
  }

}

.tariffs-btn:before, .tariffs-btn:after, .tariffs-btn span:before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  position: absolute;
}

.tariffs-btn::before {
  top: 5px;
  left: 4px;
}

.tariffs-btn:after {
  bottom: 6px;
  left: 4px;
}

.tariffs-btn span:before {
  top: 12px;
  left: 4px;
}

.tariff-list {
  padding-left: 0;
  list-style-type: circle;
  list-style-position: inside;
}

.tariff-overall {
  margin-top: 20px;
  padding: 5px;
}



//==========================PAGE GALLERY=======================

.page-gallery {

  .gallery {
    list-style: none;
    padding: 0;
    max-width: 117rem;
    margin: 3rem auto;

    li {
      height: 17.4rem;
      overflow: hidden;
    }

    a {
      position: relative;
      height: 16.7rem;

      .gallery-caption {
        position: absolute;
        display: none;
        background: rgba(0, 0, 0, 0.4);
        border: 6px solid #b19261;
        text-align: center;
        color: white;
        font-family: "Droid Serif", Arial, Helvetica, sans-serif;
        -webkit-box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.8);
        box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;

      }


      span {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        min-width: 220px;
        line-height: 30px;
      }

    }

  }

}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  }

  .mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
  }
  .mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
  }

  .mfp-with-zoom.mfp-removing .mfp-container,
  .mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

//=========================PAGE BLOGS=========================

.page-blog, .page-post {

  .blog-section {
    padding: 5rem 0 1rem;
  }

  .blog-article {
    padding-bottom: 3rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid $color-footer-border;

    h2 {

      a {
        @include droid-serif;
        font-weight: normal;
        font-size: 2.4rem;
        color: $color-primary;
        transition: all 0.3s ease;

        &:hover {
          color: $color-black;
        }

      }

    }

    p {
      line-height: 2.4rem;
    }

  }

  .article-heading-box-link {

    img {
      display: block;
      border: 1px solid $color-primary;
      transition: all 0.3s ease;
    }

    &:hover img {
      border-color: $color-black;
    }

  }

  .blog-article-details {
    width: 100%;
    margin-top: 0.8rem;

    div {
      float: left;
      width: 33%;
      font-size: 1.3rem;
    }

    .article-details-author, .article-details-comments {
      color: $color-black;

      &:hover {
        text-decoration: underline;
      }
    }

  }

  .blog-aside-box {
    border: 1px solid $color-primary;
    margin-bottom: 2.6rem;

    h3 {
      margin: 0;
      @include droid-serif;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 3.4rem;
      text-align: center;
      color: $color-white;
      background-color: $color-primary;
    }

    ul {
      list-style: none;
      padding: 1rem;
      margin: 0;

      li {
        border-bottom: 1px solid $color-footer-border;

        &:hover a {
          color: $color-primary;
        }

        &:hover a:before {
          background-color: $color-black;
          transform: rotate(45deg);
        }

      }
      li:last-child {
        border-bottom: none;
      }

    }

  }

  .blog-aside-box.list {
    a {
      position: relative;
      margin-left: 2rem;
      line-height: 3rem;
      @include droid-sans;
      color: $color-black;
      transition: all 0.3s ease;

      &:before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        position: absolute;
        left: -1.5rem;
        bottom: 50%;
        margin-bottom: -0.4rem;
        background-color: $color-primary;
        transform: rotate(-45deg);
        transition: all 0.3s ease;
      }

    }

  }

  .tags {

    a {
      color: $color-primary;
      background-color: $color-white;
      border: none;

      &:hover {
        color: $color-white;
        background-color: $color-primary;
      }

    }

  }

}

//=======================PAGE NEWS=======================

.page-news {

  .news-article {
    padding: 4rem 2rem;
    border-bottom: 1px solid $color-footer-border;
  }

  .news-article:hover {

    .news-pic-details {
      opacity: 1;
      transform: rotateY(0deg);
    }

    img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }

  }

  .news-pic {
    position: relative;
    max-width: 25.5rem;
    margin: 0 auto;
    transition: all 0.6s ease;

    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      vertical-align: middle;
      transition: all 0.6s ease;
    }

    .news-pic-details {
      position: absolute;
      left: 0;
      bottom: 0;
      color: white;
      text-align: center;
      overflow: hidden;
      padding-top: 9rem;
      width: 100%;
      height: 100%;
      transition: all 0.6s ease;
      opacity: 0;
      transform: rotateY(90deg);
      background: rgba(0, 0, 0, 0.7);

      .pic-details-date {
        display: block;
        @include droid-sans;
        font-size: 2rem;
      }

    }

  }

  h2 {
    @include droid-serif;
    font-size: 2.2rem;
    font-weight: normal;
    text-align: center;
    color: $color-black;

    span {
      color: $color-primary;
    }

  }

}

//===================PAGE PROMO======================

.page-promo {

  .main-section {
    max-height: 70rem;
    overflow-x: scroll;
  }

  .promotion-box {
    margin: 4rem auto;
    border: 1px solid $color-primary;
    transition: all 0.7s ease;

    &:hover {
      @include color-background-dark;
    }

  }

}

//=====================PAGE CONTACTS======================

.page-contacts {

  p, h2, h3 {
    color: $color-black;
  }

  .map {
    display: block;
    width: 100%;
    height: 60vh;
    border: none;
  }

  .contact-box {
    color: $color-black;
    background-color: transparent;
    border-color: $color-primary;
  }

  .map-block {

    & p {
      margin-top: 3rem;
      border-bottom: 1px solid #DB4436;
    }

    & p+p {
      border-bottom-color: #3F5BA9;
    }

  }

  .contacts {
    padding-right: 2rem;
    border-right: 1px solid #DB4436;
  }

  .contacts + .contacts {
    border-right-color: #3F5BA9;
  }

}

//======================PAGE POST====================

.page-post {

  .post-tags {
    h3 {
      display: inline-block;
      color: $color-primary;
    }

    ul {
      display: inline-block;
    }
  }

  .blog-article {
    border-bottom: 1px solid $color-primary;
  }

  .post-comments {

    .comment {
      margin-bottom: 4rem;

      .comment {
        margin-left: 2rem;
        margin-top: 8rem;
        padding-left: 1rem;
        border-left: 1px solid $color-footer-border;
      }

    }

    .user-img {
      width: 7.5rem;
      height: 7.5rem;
      float: left;
      margin-right: 2rem;
      border: 3px solid rgba(177, 146, 97, 0.5);
    }

    .comment-details {

      span {
        display: block;
      }

      .user-name {
        @include droid-sans;
        font-size: 1.56rem;
        line-height: 3rem;
        color: $color-primary;
      }

    }

    p {
      margin: 2rem 0 1rem;
      padding: 2rem;
      font-size: 1.3rem;
      line-height: 2rem;
      border-radius: 5px;
      background: #f7f7f7;
    }

    .btn-read {
      float: right;
      font-size: 1.1rem;
    }

  }

}

//=============================PAGE ROOM======================

.page-room {

  p {
    color: $color-black;
  }

  .main-title ul {
    margin-left: -15rem;
  }

  .room-slider {
    max-width: 85rem;
    margin: 0 auto;
  }
  .room-slider ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
    max-height: 46rem;
  }
  .room-slider li {
    display: block;
    float: left;
    margin-right: 0.6rem;
    cursor:pointer;
  }
  .room-slider img {
    display: block;
    height: auto;
    max-width: 100%;
    cursor: pointer;
  }

  .lSSlideOuter .lSPager.lSGallery {

    max-height: 6rem;
    display: none;

  }

  // .booking-form {
  //
  //   .breakfast-checkbox {
  //     text-align: center;
  //
  //     label {
  //       margin-bottom: 0.1rem;
  //     }
  //
  //   }
  //
  // }

}

.room-equipment {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $color-footer-border;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

  li {
      display: inline-block;
      position: relative;
      cursor: pointer;

      &:hover .tooltip {
        opacity: 1;
        top: -6.5rem;
      }

      &:hover span[class^="flaticon"]:before {
        color: #CAA874;
      }

  }

  }

  span[class^="flaticon"]:before {
    font-size: 4rem;
    transition: all 0.3s ease;
  }

  .room-cost {
    margin-top: 1.5rem;

  .price {
      font-size: 1.7rem;
      font-weight: bold;
      color: $color-black;
  }

  .flaticon-coin32:before {
      color: $color-primary;
      margin-left: 1rem;
  }

  }

}

//===========================PAGE ABOUT===========================

.page-about main {

  color: $color-black;

}

//================================ MEDIA QUERIES ===============================

//======================= 380 ==========================

@media screen and (min-width: 380px) {
  // main .booking-form {
  //
  //   label {
  //     margin-bottom: -1.1rem;
  //   }
  //
  //   input, select {
  //     margin-bottom: 0.4rem;
  //   }
  //
  //   .form-col {
  //     display: inline-block;
  //     width: 50%;
  //   }
  //
  //   .submit-button {
  //     margin-top: 2rem;
  //   }
  //
  //   .fa-calendar {
  //     bottom: -2.7rem;
  //   }
  //
  // }

  .page-reservation {
    .form-col {
      position: relative;
      float: left;
      margin-bottom: 0.8rem;
      padding: 0.2rem;
      text-align: center;
      z-index: 1;
    }

  }
}

//======================= 432 ==========================

@media screen and (min-width: 432px) {

  .logo {
    .stars, &:before, &:after {
      display: block;
    }

    .logo-first-word, .logo-second-word {
      position: absolute;
    }

    .logo-first-word {
      left: 50%;
      margin-left: -14rem;
    }

    .logo-first-word:after {
      width: 22rem;
      margin-left: -0.5rem;
    }

    .logo-second-word {
      right: 50%;
      margin-right: -19.4rem;
    }

    .logo-second-word:after {
      content: '';
      position: absolute;
      width: 133px;
      height: 18px;
      right: 100%;
      bottom: -8px;
      background: $color-white;
      border-radius: 14px;
    }
  }

  .main-section .room-thumbnail img {
    max-width: 100%;
    margin: 0;
  }

  .page-gallery {
    .gallery {

      li {
        position: relative;
        float: left;
        width: 50%;
        padding: 0.7rem;

        a {
          position: relative;
          display: block;
          border: 1px solid $color-primary;
          overflow: hidden;
        }

      }

      img {
        display: block;
      }

    }

  }

  .form-reply {

    &.booking-form {

      .form-col {
        padding: 0;
      }

      .form-col:first-child {
        padding-right: 1rem;
      }

      .form-col:nth-child(2n) {
        float: right;
      }

    }

  }

  .main-title {

    .main-heading {
      padding-top: 0;
      line-height: 13rem;
      font-size: 3.5rem;
    }

  }

}

@media screen and (min-width: 550px) {

  .room-thumbnail {
    width: 50%;
    padding: 0 2rem;
    float: left;
  }

  .page-blog, .page-post {

    .blog-article-details {
      width: 50%;
    }

  }

  .page-contacts {

    .contacts {
      float: left;
    }

    .contacts + .contacts {
      float: right;
    }

  }

}

@media screen and (min-width: 580px) {
  .filtering {
    padding-top: 4.5rem;
  }

  .filtering-checkIn, .filtering-checkOut, .filtering-people, .filtering-hotel, .filtering-twin, .filtering-order {
    width: 16%;
    vertical-align: middle;
    margin-bottom: 0;

    span {
      position: absolute;
      top: -4.2rem;
      left: 0;
    }

  }

  .filtering-checkIn .flaticon-calendar-icons, .filtering-checkOut .flaticon-calendar-icons {
    display: none;
  }
}

//======================= 720 =========================

@media screen and (min-width: 720px) {

  .makeOrder {
    background: rgba(255,255,255,.6);
    width: 40rem;
    padding: 2rem;
  }

  .slider {
    display: block;
  }

  .page-home .main-section img {
    float: left;
    margin-right: 1rem;
  }

  main {

    .main-section {
      background-color: rgba(255, 255, 255, 0.75);
    }

    .main-section {
      padding: 0 2rem 0.5rem;
      color: $color-black;
    }

    &.main-fluid {

      .main-section {
        padding: 0 3.5rem 3.5rem;
      }

    }

    .contact-box {
      background-color: rgba(255,255,255,.75);
    }

  }

  .image--welcome {
    width: 49%;
  }

  .page-hotel-ekaterina {
    h1 {
      font-size: 2.6rem;
    }
  }

  .page-reservation {

    .main-section {
      margin-bottom: 2rem;
      box-shadow: 3px 3px 14px 0 rgba(0,0,0,.45), -3px -3px 14px rgba(0,0,0,.45);
    }

    // .booking-form {
    //   width: 100%;
    //   margin-bottom: 0;
    //   background-color: transparent;
    //
    //   .form-col {
    //     width: 33%;
    //     margin-bottom: 0;
    //     z-index: auto;
    //   }
    // }

    .category {
      padding: 1.5rem;
      padding-top: 0.1rem;
    }

    .category-detail {
      float: left;
      width: 40%;
      margin-bottom: 2rem;
      padding: 0.8rem;
      padding-bottom: 2rem;
      box-shadow: 3px 2px 1px rgba(0,0,0,.2), -2px -2px 1px rgba(0,0,0,.2);
    }

    .options {
      float: left;
      width: 60%;
      padding: 1.4rem 0 0 0.8rem;
    }

    .category-result {
      line-height: 31px;
      border-bottom: 1px solid #ADA5A5;
    }

    .category-image {
      display: none;
    }

    .category-gallery {
      display: block;
    }

    .tariff-heading, .tariff-overall {
      display: inline-block;
    }

    .tariff-overall {
      position: relative;
    }

    .tariff-price {
      position: absolute;
      bottom: 5px;
      left: 24px;
      border: none;
      width: 80px;
    }

    .tariff-heading {
      width: 50%;

      h3 {
        margin-top: 1rem;
        margin-bottom: 0;
      }

      p {
        margin-top: 0.6rem;
      }

    }

    .tariff-overall {
      width: 20%;
    }

  }

  .page-news {

    .news-article {
      width: 50%;
      float: left;
    }

  }

  .page-room {

    .lSSlideOuter .lSPager.lSGallery {
      display: block;
    }

  }

  .page-contacts {

    .map-block {

      & p {
        float: left;
      }

      & p+p {
        float: right;
      }

    }

  }

}

@media screen and(min-width: 802px) {
  .filtering-checkIn span, .filtering-checkOut span, .filtering-people span, .filtering-hotel span, .filtering-twin span, .filtering-order span {
    position: static;
    display: inherit;
  }

  .filtering {
    padding-top: 0.8rem;
  }

  .filtering-checkIn .flaticon-calendar-icons, .filtering-checkOut .flaticon-calendar-icons {
    display: block;
  }

  .filtering-order {
    padding-top: 2.2rem;
  }
}

//======================= 997 =========================

@media screen and (min-width: 997px) {

  .main-menu-handle {
    display: none;
  }

  .header-main-menu {
    width: 100%;
    height: 5.4rem;
    position: relative;
    top: 0;
    left: 0;
    border-left: none;
    background: $color-white;
    text-align: center;
    transition: height 0.3s ease;

    & > ul > li {
      display: inline-block;
      margin-right: 0.6rem;
    }

    .header-main-menu__news {
        margin-right: 17.5rem;
    }

    .sub-menu {
      border-bottom: none;

      &:hover a {
        border-bottom: none;
      }
    }

    .sub-menu ul {
      min-width: 16rem;
      position: absolute;
      top: 7rem;
      left: 50%;
      margin-left: -8rem;
      border-top: 3px solid $color-primary;
      opacity: 0;
      background: white;
      visibility: hidden;
      transition: all 0.5s ease;
      z-index: 2;
    }

    .sub-menu:hover ul {
      display: block;
      opacity: 1;
      visibility: visible;
      top: 4.6rem;

      & a {
        border-bottom: 1px solid #f7f7f7;
      }
    }

    ul a {
      line-height: 5rem;
      border-bottom: none;
      transition: border 0.1s ease;
    }

    ul a:hover {
      border-bottom: 4px solid $color-primary;
      color: $color-black;
    }

    .menu-center {
      display: inline-block;
    }

    .menu-item-1 {
      margin-left: -7rem;
    }

    .menu-item-last {
      margin-right: 0;
    }

  }

  .sticky {
    max-width: 100%;

    .header-main-menu {
      position: absolute;
      top: 0.6rem;
      left: -18.3rem;
      max-width: 117rem;
      margin: 0 auto;
    }

  }

  // .page-reservation {
  //   .booking-form {
  //     margin-bottom: 1rem;
  //   }
  // }



  .page-gallery, .page-blog {

    .gallery {

      li {
        width: 25%;
      }

    }

  }

  .page-blog, .page-post {

    .blog-section {
      width: 77%;
      float: left;
      padding-top: 0;
    }

    .blog-aside {
      width: 20%;
      float: right;
    }

  }

  .page-news {

    .news-pic {
      float: left;
      width: 50%;
    }

    .news-description {
      float: left;
      width: 50%;
      padding: 0 0 0 1.5rem;
    }

    h2 {
      margin-top: 0;
    }

  }

}

//======================= 1200 =========================

@media screen and (min-width: 1200px) {

  .makeOrder {
    width: 26%;
    margin: 0;
    float: left;
  }

  main {

    padding: 0 3rem 16rem;
    
    .main-section {
      float: right;
      width: 70%;
    }

      .booking-form {
        margin-top: 0;

      }

      .contact-box {
        display: block;
        float: left;
        margin: 0;
      }
      
      .contact-box-sliding {
        position: fixed;
        top: 70px;
      }

  }

  .page-hotel-ekaterina .main-section {
    margin-bottom: 2rem;
  }



  .page-gallery, .page-blog, .page-post {

    main {
      padding-top: 0;
    }

  }

  .page-room {

    .page-room-aside {
      float: left;
      width: 35%;
    }

  }

  .page-contacts {

    .map-block {
      width: 70%;
      float: left;

      & p {
        float: left;
        margin-top: 3rem;
        border-bottom: 1px solid #DB4436;
      }

      & p+p {
        float: right;
        border-bottom-color: #3F5BA9;
      }
    }

    .contacts {
      float: none;

      h2, h3, p {
        text-align: right;
      }

    }

    .contacts + .contacts {
      margin-top: 2.5rem;
      float: none;
    }

  }
  
  .page-reservation {
    .main-section {
        float: none;
        margin: 0 auto 2rem;
        width: auto;
        max-width: 85%;
      }
  }

}

@media screen and (min-width: 1300px) {

    .page-reservation {

      .main-section {
        float: none;
        margin: 0 auto 2rem;
        max-width: 85%;
      }

      .options {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      .option-description {
      }

      .option-data {
      }

      .tariffs {
        border: none;
        border-radius: 0;
        border-left: 1px solid;
        padding-left: 2rem;
        height: auto;
        overflow: auto;
        clear: none;

        h2 {
          display: none;
        }

      }

      .tariff-first {
        border-top: 1px dashed #000;
      }

      .tariffs-btn {
        display: none;
      }

      .tariff {
        padding-bottom: 0;
      }

      .tariff-heading {
        width: 58%;
        border-right: 1px dashed #000;
      }

      .tariff-overall {
        width: 40%;
        border-top: 1px solid $color-primary;
        padding: 0;
        vertical-align: bottom;

        [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
          margin-left: 0;
        }

      }

      .tariff-radio {
        position: absolute;
        top: 15px;
        right: 43px;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }

  }

}
